<div class="container">
  <div class="content">
    <div class="half">
      <img src="assets/obrazky/main/01.jpg" alt="" />
    </div>
    <div class="half">
      <div class="childern">
        <div
          class="line"
          uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 250"
        ></div>
        <h2 uk-scrollspy="cls:uk-animation-slide-left-small; delay: 250">
          O nás
        </h2>
        <div class="text" uk-scrollspy="target: > p; cls: uk-animation-fade; delay: 200">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
            necessitatibus asperiores praesentium officiis obcaecati architecto
            tenetur placeat modi, ab nihil dignissimos ad, soluta mollitia
            tempore?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque,
            necessitatibus asperiores praesentium officiis obcaecati architecto
            tenetur placeat modi, ab nihil dignissimos ad, soluta mollitia
            tempore?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
