div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  div.heading {
    width: 50%;
    margin-top: 40px;
    div.line {
      width: 100%;
      height: 2.5px;
      background-color: #ffb800;
    }
    h2 {
      margin-block: 40px !important;
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
    }
  }
  div.fotky {
    width: 65%;
    div.section {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2vh;
      div {
        width: 30%;
        a {
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
@media (max-width: 991.98px) {
  div.container {
    div.heading {
      width: 90%;
    }
    div.fotky {
      width: 90% !important;
      div.section {
        justify-content: space-between !important;
        row-gap: 4vh !important;
        div {
          width: 45%;
        }
      }
    }
  }
}
