<div class="container" id="fotogalerie"> 
  <div class="heading">
    <div class="line" uk-scrollspy="cls:uk-animation-slide-top-small; delay: 100"></div>
    <h2 uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 150">Fotogalerie</h2>
  </div>
  <div class="fotky">
    <div
      uk-lightbox="animation: slide"
      class="section"
      uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 300"
    >
      <div *ngFor="let img of fotky">
        <a [href]="'assets/' + img" data-caption="Medová kavárna Nivnice">
          <img
            [src]="'assets/' + img"
            width="1800"
            height="1200"
            alt="Medová kavárna - Fotografie"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</div>
