<div class="container">
  <h2>Fotogalerie</h2>
  <div class="fotky">
    <div
      class="section flex uk-child-width-1-3"
      uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 50"
    >
      <div *ngFor="let img of fotky">
        <a [href]="'assets/' + img" data-caption="Prostor" class="flex">
          <img
            [src]="'assets/' + img"
            width="1800"
            height="1200"
            alt="Restaurace NET Uherské Hradiště - interiér"
          />
        </a>
      </div>
    </div>
  </div>
</div>
