<footer>
  <div class="section">
    <h3>Medová kavárna <span>Nivnice</span></h3>
  </div>
  <div class="section">
    <p>
      Vítejte v naší medové kavárně v Nivnici, kde se snoubí vynikající chuť s
      příjemným prostředím. Přijďte se pobavit a vychutnat si naše speciality.
    </p>
  </div>
  <div class="section">
    <div class="columns">
      <a href="">Domů</a>
      <a href="">Fotogalerie</a>
      <a href="">Menu</a>
      <a href="">Ubytování</a>
      <a href="">Kontakt</a>
    </div>
  </div>
  <div class="section">
    <div class="columns">
      <a
        href="https://www.facebook.com/MedovaKavarnaNivnice/"
        target="_blank"
        rel="noopener noreferrer"
        uk-icon="icon:facebook; ratio:1.3;"
      ></a>
      <a
        href="https://www.instagram.com/medovakavarna/"
        target="_blank"
        rel="noopener noreferrer"
        uk-icon="icon:instagram; ratio:1.3;"
      ></a>
    </div>
  </div>
</footer>
