div.container {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5),
      rgba(185, 185, 185, 0)
    ),
    url("../../../../assets/fotky/background.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  height: 100vh;
  h1 {
    transition: ease-in-out all .3s;
    z-index: 100;
    font-size: 5rem;
    margin-left: 10%;
    font-weight: bolder;
    color: #fff;
    opacity: 1;
    text-align: left;
  }
}
