<div class="container" id="kontakt" itemscope itemtype="http://schema.org/ContactPage">
  <div class="heading">
    <div
      class="line"
      uk-scrollspy="cls:uk-animation-slide-top-small; delay: 100"
    ></div>
    <h2 uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 150">
      Kontakt
    </h2>
  </div>
  <div class="content">
    <div class="line"></div>
    <div
      class="text"
      uk-scrollspy="target: > p; cls: uk-animation-slide-left-small; delay: 100"
    >
      <h3>Naše kontakty</h3>
      <div
        class="info"
        uk-scrollspy="target: div.child; cls: uk-animation-slide-left-small; delay: 150"
      >
        <div class="parent uk-column-1-2">
          <div class="child">
            <span uk-icon="icon:mail;"></span>
            <a href="mailto:medovakavarna@seznam.cz" itemprop="email">medovakavarna@seznam.cz</a>
          </div>
          <div class="child">
            <span uk-icon="icon:instagram;"></span>
            <a
              href="https://www.instagram.com/medovakavarna/"
              target="_blank"
              rel="noopener noreferrer"
              itemprop="sameAs"
              >@medovakavarna</a
            >
          </div>
        </div>
        <div class="parent uk-column-1-2">
          <div class="child">
            <span uk-icon="icon:receiver;"></span>
            <a href="tel:+420572540490" itemprop="telephone">572 540 490</a>
          </div>
          <div class="child">
            <span uk-icon="icon:facebook;"></span>
            <a
              href="https://www.facebook.com/MedovaKavarnaNivnice/"
              target="_blank"
              rel="noopener noreferrer"
              itemprop="sameAs"
              >@MedovaKavarnaNivnice</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="content"
    uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 100"
  >
    <h3>Kde se nacházíme?</h3>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1340649.6617024906!2d17.644195!3d48.982872!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47134313c227b4dd%3A0x67e796dcf3a6ca94!2zTWVkb3bDoSBrYXbDoXJuYQ!5e0!3m2!1scs!2scz!4v1676034306949!5m2!1scs!2scz"
        class="map"
        title="Google Maps"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
  <div class="content">
    <div class="line"></div>
    <div class="text">
      <h3>Otevírací doba</h3>
      <div class="info">
        <table
          class="timetable"
          uk-scrollspy="cls: uk-animation-slide-left-small; delay: 50"
        >
          <thead>
            <tr>
              <th>🐝</th>
              <th><b>Otevření</b></th>
              <th><b>Zavření</b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>Pondělí</b></td>
              <td>11:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td><b>Úterý</b></td>
              <td>11:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td><b>Středa</b></td>
              <td colspan="2">Zavřeno</td>
            </tr>
            <tr>
              <td><b>Čtvrtek</b></td>
              <td>11:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td><b>Pátek</b></td>
              <td>11:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td><b>Sobota</b></td>
              <td>11:00</td>
              <td>20:00</td>
            </tr>
            <tr>
              <td><b>Neděle</b></td>
              <td>11:00</td>
              <td>20:00</td>
            </tr>
          </tbody>
        </table>
        <img
          src="assets/fotky/bee.gif"
          alt="Medova kavárna Nivnice - včela"
          loading="lazy"
          uk-scrollspy="cls: uk-animation-slide-left-medium; delay: 50"
        />
      </div>
    </div>
  </div>
</div>
