header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: all .4s ease-in-out;
  &.active {
    background: hsla(0, 0%, 14%, 0.5);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
  }
  nav.navbar {
    display: flex;
    gap: 2vw;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }
  div.logo {
    span {
      font-weight: bold;
      font-size: clamp(1rem, 1.25rem, 1.5rem);
      color: #fff;
    }
  }
  div.menu-toggle {
    display: none;
    color: #fff;
  }
}

@media (max-width: 767px) {
  header {
    &.active {
      background: hsla(0, 0%, 14%, 0.9);
    }
    div.menu-toggle {
      display: flex !important;
      font-weight: bold;
    }
    nav.navbar {
      &.navbar.show {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        color: #fff;
        padding-block: 2rem;
        background: hsla(0, 0%, 14%, 0.75);
        a {
          margin-left: 2rem;
          padding: 1rem 0;
          display: block;
          color: #fff;
          text-decoration: none;
          font-weight: 500;
        }
      }
      &:not(.show) {
        display: none;
      }
    }
  }
}
